
<!doctype html>

<html lang="en">
  <head>
  <title>UCSD Commuters</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/stepBar.css">
    <link rel="stylesheet" type="text/css" href="css/styleph.css" />
    <link rel="stylesheet" href="css/modal/modal.css">
    <style>.modal a.close-modal { top: 0;  right: 0; }</style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>  
    <script src="js/jquery.modal.js" type="text/javascript" charset="utf-8"></script>    

    <script type="text/javascript">
    var app = angular.module('myapp',['ui.bootstrap'])
        .controller('CalenderCtrl',function($scope, $http){
            $scope.create_json = function(){
                $http.get('json/file.json').then(function(result){
                    $scope.dayselect = result.data;
                });
            }
            $scope.create_json();
            
            function checkbutton(){
                if($scope.selarr.length>0){
                    $scope.buttonnext = 0;
                }else{
                    $scope.buttonnext = 1;
                }
            }
            $scope.buttonnext = 1;

            $scope.selarr=[];
            $scope.select = function(select, dt){
              if(select==true){
                $scope.selarr.push(dt);
              }else{
                    index = -1;
                    for(var i = 0, len = $scope.selarr.length; i < len; i++) {
                        if ($scope.selarr[i].day === dt.day && $scope.selarr[i].time === dt.time) {
                            index = i;
                            $scope.selarr.splice(index,1);
                            break;
                        }
                    }
              }
              checkbutton();
            }            
            $scope.next_view = function(){
                var writearr = [];
                for(var i = 0, len1 = $scope.dayselect.length; i < len1; i++) {
                    var k =$scope.selarr.indexOf($scope.dayselect[i]);
                    if(k === -1){
                        writearr.push($scope.dayselect[i]);
                    }
                }
                $http({
                    method:'POST',
                    url   :'json/json.php',
                    data  :writearr
                }).then(function(result){
                    var oldpath = window.location.pathname;
                    var newpath = oldpath.replace("calendar1.html","driver_fail_sch.html");
                    window.location.pathname = newpath;
                    window.location.href = newpath;                   
                });                
            }
        });
    </script>
  </head>

  <body ng-app="myapp" ng-controller="CalenderCtrl">
   <div id="ex1" style="display:none;">
    <div style = "margin: 30px">
      <h3>Hello Commuters!</h3>
      <p>This app is designed exclusively for the UCSD community, making life easier for commuters with and without cars through collaboration. The rides go from Superloop bus stops to on campus locations.</p>
    
      <head>If you are a Passenger, you can...</head>
        <ul>
          <li>Set up quarter long schedules with student drivers.</li>
          <li>Request a lift anytime to campus.</li>
          <li>Add drivers you've met to your friend list and see them more.</li>
        </ul>
        <p>We encourage you to offer goodies or other forms of compensation to the drivers as courtesy! It increases your chances of getting paired with a driver!</p>
      <br>

      <head>If you are a Driver, you can...</head>
        <ul>
          <li>Get to know amazing people while commuting.</li>
          <li>Specify your preferred form of compensation.</li>
          <li>Become a Passenger anytime.</li>
        </ul>
    </div>
  </div>

	<div class="topbar">
		<ul class="w3-navbar w3-afBlue w3-wide w3-padding-8 w3-card-2">
         <li>
            <a href="index.html" class="w3-margin-left w3-text-white"><img src="img/comlogo.png"/></a>
        </li>
    		<li>
          <a href="index.html" class="w3-margin-left w3-text-white w3-hide-small"><b>UCSD</b> Commuters</a>
        </li>
        <!-- Float links to the right. Hide them on small screens -->
        <li class="w3-right ">
          <a href="#ex1" rel="modal:open" class="w3-left w3-text-white">Help</a>
          <a href="login.html" class="w3-left w3-margin-right w3-text-white">Sign Out</a>
        </li>
  		</ul>
	</div>



  <!-- Sidenav/menu -->
  <!--div class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
    <div class="w3-container ">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <img src="img/user.png" class="w3-round"><br><br>
      <h4 class="w3-padding-0"><b>Denise T.</b></h4>
      <p class="w3-text-grey">Sophomore in CogSci</p>
    </div>
    <a href="#location" onclick="w3_close()" class="w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#contact" onclick="w3_close()" class="w3-padding"><i class="fa fa-location-arrow fa-fw w3-margin-right"></i>LOCATION</a>
    <a href="#contact" onclick="w3_close()" class="w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
   
    <div class="w3-section w3-padding-top w3-large">
      <a href="#" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="w3-hover-white w3-hover-text-purple w3-show-inline-block"><i class="fa fa-instagram"></i></a>
      <a href="#" class="w3-hover-white w3-hover-text-yellow w3-show-inline-block"><i class="fa fa-snapchat"></i></a>
      <a href="#" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-twitter"></i></a>
    </div>
  </div-->

<!-- Overlay effect when opening sidenav on small screens >
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div-->

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="">
  <!-- Header -->
  <header class="" id="portfolio">

    <div class="container">
        <ul class="progressbar">
            <li class="active">Calendar</li>
            <li>Pairing</li>
        </ul>
    </div>
  </header>
</div>
  
    <!--div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="caluserbox">
                    <img src="img/user.png"/>
                    <h1>Denise T</h1>
                    <p>Sophomore in CogSci</p>
                </div>
                <div>
                    <a href="#location" onclick="w3_close()" class="w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
                    <a style="display: block" href="#contact" onclick="w3_close()" class="w3-padding"><i class="fa fa-location-arrow fa-fw w3-margin-right"></i>LOCATION</a>                    
                    <a href="#contact" onclick="w3_close()" class="w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>                    
                </div>
                <div class="soclink">
                    <div class="w3-section w3-padding-top w3-large">
                        <a href="#" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="w3-hover-white w3-hover-text-purple w3-show-inline-block"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="w3-hover-white w3-hover-text-yellow w3-show-inline-block"><i class="fa fa-snapchat"></i></a>
                        <a href="#" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-twitter"></i></a>
                    </div>                                        
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                  <div class="col-md-8 text-left steps" style="font-size:16px; color:gray; margin-bottom: 10px;">
                      <div style="margin-top: 8px">
                      <span class="active"><i class="fa fa-calendar" aria-hidden="true"></i> Calender <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                      <span><i class="fa fa-refresh" aria-hidden="true"></i> Pairing  <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                      <span><i class="fa fa-gift" aria-hidden="true"></i> Compensation <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                      <span><i class="fa fa-handshake-o" aria-hidden="true"></i> Confirmation</span>
                      </div>
                  </div>                     
                </div-->
              <div style = "Margin:30px">
                <h3>Selection</h3>
                <div class="row seven-cols caltime">
                    <div class="col-md-2 col-xs-12" style="margin-bottom:10px;" ng-repeat="dt in dayselect">
                            <button 
                            style="width:174px; text-align: left;"
                            type="button" 
                            class="btn btn-default" 
                            ng-model="sel1" 
                            ng-click="select(sel1, dt)" 
                            uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">{{dt.day}} - {{dt.time}}</button>
                    </div>                                                                               
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <h3>Selected Day/Time</h3>
                    <button class="btn btn-default" ng-repeat="sel in selarr" style="margin: 5px;">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i><br/>
                        {{sel.day}}<br/>{{sel.time}}</button>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-9 text-right" style="margin-top: 10px">
                      <a href="driver.html" class="btn btn-primary">PREVIOUS</a>
                      <button class="btn btn-primary" ng-hide="buttonnext==1" ng-click="next_view()">NEXT</a></button>
                  </div>
                </div>
            </div>
        </div>
      </div>
        <footer class="w3-container w3-theme-d5 w3-afBlue">
          <p class = "w3-text-white">Team Boba -- Cogs 120 -- Winter2017</p>
        </footer>
    </div>
  </body>
  

</html>