<html>
<head>
	<title>UCSD Commuters</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />  
	<!--script src="js/introHCI.js"></script-->
    <link rel="stylesheet" href="css/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>  
    <script type="text/javascript">
    var app = angular.module('myapp',['ui.bootstrap'])
        .controller('UserCtrl',function($scope, $http){
            $scope.showuser = false;
            $scope.login = function(){
                $http.get('json/userimg.json').then(function(result){
                    angular.forEach(result.data,function(val){
                        if(val.user==$scope.username){
                            $scope.user = val;
                            $http({
                                method:'POST',
                                url   :'json/json2.php',
                                data  :val
                            }).then(function(result){
                                //alert("Files saved at json/file.json");
                                var oldpath = window.location.pathname;
                                var newpath = oldpath.replace("login.html","index.html");
                                window.location.pathname = newpath;                    
                            });                            
                        }
                    });
                });
            }
        });
    </script>    
</head>
<body ng-app="myapp" ng-controller="UserCtrl" class="loginbg">
<div class="overlay">
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-xs-12">
                <div class="loginbox" ng-show="showuser==false">
                <h3>Log In</h3>
                <p>Enter username and password</p>

                <form action = "" method = "post">
                <label>Username  :</label><input ng-model="username" type = "text" name = "username" class = "box"/><br /><br />
                <label>Password  :</label><input type = "password" name = "password" class = "box" /><br/><br />
                            
                    </form>
                <div style = "font-size:11px; color:#cc0000; margin-top:10px"><?php echo $error; ?></div>
                <div>
                    <button class="mybtn btn btn-default" ng-click="login()">Log in</button>
                    
                </div>
                </div>
        </div>
    </div>
	<footer class="w3-container w3-theme-d5 w3-afBlue navRightBtn">
    	<p class= "w3-text-white">Team Boba -- Cogs 120 -- Winter2017</p>
    </footer>
</div>
</div>
</body>
</html>