<!doctype html>

<html>

<head>
	<title>UCSD Commuters</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<!--script src="js/introHCI.js"></script-->



  <link rel="stylesheet" href="css/modal/modal.css">
  <style>.modal a.close-modal { top: 0;  right: 0; }</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>  
  <script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>  
  <script src="js/jquery.modal.js" type="text/javascript" charset="utf-8"></script>    

    <script type="text/javascript">
    var app = angular.module('myapp',['ui.bootstrap'])
        .controller('UserCtrl',function($scope, $http){
            $scope.showuser = false;
            $scope.login = function(){
                $http.get('user/user.json').then(function(result){
                    angular.forEach(result.data,function(val){
                        if(val.user==$scope.username){
                            $scope.user = val;
                            $scope.showuser = true;
                        }
                    });
                });
            }
        });
    </script>  
</head>
<body ng-app="myapp" ng-controller="UserCtrl">
  <div id="ex1" style="display:none;">
    <div style = "margin: 30px">
      <h3>Hello Commuters!</h3>
      <p>This app is designed exclusively for the UCSD community, making life easier for commuters with and without cars through collaboration. The rides go from Superloop bus stops to on campus locations.</p>
    
      <head>If you are a Passenger, you can...</head>
        <ul>
          <li>Set up quarter long schedules with student drivers.</li>
          <li>Request a lift anytime to campus.</li>
          <li>Add drivers you've met to your friend list and see them more.</li>
        </ul>
        <p>We encourage you to offer goodies or other forms of compensation to the drivers as courtesy! It increases your chances of getting paired with a driver!</p>
      <br>

      <head>If you are a Driver, you can...</head>
        <ul>
          <li>Get to know amazing people while commuting.</li>
          <li>Specify your preferred form of compensation.</li>
          <li>Become a Passenger anytime.</li>
        </ul>
    </div>
  </div>  
	<div class="topbar">
		<ul class="w3-navbar w3-afBlue w3-wide w3-padding-8 w3-card-2">
			 <li>
            <a href="index.html" class="w3-margin-left w3-text-white"><img src="img/comlogo.png"/><b>UCSD</b> Commuters</a>
        </li>
        <!-- Float links to the right. Hide them on small screens -->
        <li class="w3-right ">
          <a href="#ex1" rel="modal:open" class="w3-left w3-text-white">Help</a>
          <a href="login.html" class="w3-left w3-margin-right w3-text-white">Sign Out</a>
        </li>
  		</ul>
	</div>

	<div class="container">
      <div class="row">
        
        <div class="col-md-4 col-md-offset-4 col-xs-12">
            <div class="userbox" ng-show="showuser==true">
            <div class="row">
                <div class="col-md-6 col-xs-6" style="text-align: left">
                <img src="{{user.image}}" style="height: 148px"/>
                </div>
                <div class="col-md-6 col-xs-6">
                <h1 class = " w3-text-black">{{user.name}}</h1>
                <h1 class = " w3-text-black">{{user.job}}</h1>
                </div>
                
            </div>
            </div>   
            <div class="buttonbox" ng-show="showuser==false">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-12 text-left" style="margin-top: 10px">
                            <h3 style="text-align: center">UserName</h3>
                            <input class="form-control" name="loginname" ng-model="username"/>
                            <button id = "sendM" class="mybtn btn btn-primary" ng-click="login()">Login</a></button>
                        </div>   
                    </div>
            </div>

	<footer class="w3-container w3-theme-d5 w3-afBlue">
    	<p class = "w3-text-white">Team Boba -- Cogs 120 -- Winter2017</p>
  </footer>

  <script type="text/javascript">
  	function PopAlert(){
  		alert("Messages have been sent! ");
  		$("#sendM").hide();
  	}
  </script>


</body>
</html>